html{ overflow-y: scroll; *overflow: auto; }
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dd,dt,p,hr,blockquote,address,pre,code,form,fieldset,legend,textarea,input,button,th,td{margin:0;padding:0;}
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
img { vertical-align: bottom; }
li{list-style:none}
a { text-decoration: none;}
a:hover { text-decoration: underline;}
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
body,button, input, select, textarea {font: 14px/1.5 "Microsoft YaHei", "\5b8b\4f53", Tahoma, Helvetica, Arial, sans-serif;}
h1, h2, h3, h4, h5, h6 { font-size: 100%;font-weight: normal;}
address, cite, dfn, em, var,th,em,i { font-style:normal; font-weight: normal;}
code, kbd, pre, samp,tt { font-family: Lucida Console, Monaco, Courier New, mono, monospace; }
small { font-size: 12px; }
abbr, acronym { border: 0;}
button, input, select, textarea { font-size: 100%; }
legend { color: #000;}
q:before, q:after {content:"";}
hr{margin:1em 0;}
/*General tag setting,recovery form reset*/
h1,h2,h3,h4,h5,h6 {font-weight:normal;}

abbr,acronym {
	border-bottom:1px dotted #000;
	cursor:help;
}
th,legend{font-weight:bold;}
hr{margin:1em 0;}
/*Table!!!!*/
caption,tr,th {text-align:center;}
th,td {
	padding:0;
	border:1px solid #000;
}
/*Inputs!!!!*/
fieldset {
    border: 1px solid #ddd;
    padding: 10px 20px 10px 20px;
	float:left;
}
fieldset {padding: 0 20px\9}
legend{margin-bottom:15px\9}
a:focus{outline:none;}

/*following is the Clear*/
.clearfix:after {
  content: "\20";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix{display: block;*zoom:1;}
/*commonColor*/
.fc333{color: #333;}
.fc666{color: #666;}
.fc999{color: #999;}
.fcccc{color: #ccc;}
/*Spacing*/
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.mt30{margin-top:30px;}
.mb30{margin-bottom:30px;}
.mt16{margin-top:16px;}
.mr10{margin-right: 10px;}
.mr20{margin-right: 20px;}
.mr30{margin-right: 30px;}
.ml10{margin-left: 10px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}
.mt10{margin-top:10px;}
.pb10{padding-bottom:10px;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.pt30{padding-top:30px;}
.pb30{padding-bottom:30px;}
.pt16{padding-top:16px;}
.pr10{padding-right: 10px;}
.pr20{padding-right: 20px;}
.pr30{padding-right: 30px;}
.pl10{padding-left: 10px;}
.pl20{padding-left: 20px;}
.pl30{padding-left: 30px;}

/*manipulating*/
.clear,.blank,.blank5,.blank10,.blank20{clear:both;}
.blank,.blank5,.blank10,.blank20{overflow:hidden;}
.blank{height:0;}
.blank5{height:5px;}
.blank10{height:10px;}
.blank20{height:20px;}
.thid{text-indent:-9999px;}
.oh{overflow:hidden;}
.ov{overflow:visible;}
.toh{
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
}
.wbk{
	word-break: break-all;
	word-wrap: break-word;
}
.b{font-weight:bold;}
.l{float:left;display: inline;}
.r{float:right;display: inline;}
.pa{position:absolute;}
.pr{position:relative;}
.tC{text-align:center;}
.tR{text-align:right;}
.tL{text-align:left;}
.cTL,.cTR,.cBL,.cBR{position:absolute;}
.cTL{top:0;left:0;}
.cTR{top:0;right:0;}
.cBL{bottom:0;left:0;}
.cBR{bottom:0;right:0;}
.clearStyle{border:none;background:none;}
.pointer{cursor:pointer;}
.hide{display:none;}
.wrapper{margin:0 auto;}
